<% @projects.each_with_index do |project, index| %>
<div id="modal<%= index+1 %>" class="portfolio-modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row first">
        <div class="col-lg-12">
          <h2 class="page-header"><%= project.title %> </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="owl-carousel owl-theme">     
            <% project.project_infos.each do |project_info| %>     
              <div class="item">
                <%= image_tag project_info.image_url %>
                <br>
                <%= simple_format(project_info.info) %>
              </div>
            <% end %>
          </div>                  
        </div>
        <div class="col-md-4">
          <h3> Project Description </h3>
          <p> <%= simple_format(project.content) %> </p>
        </div>
      </div>   
      <div class="row">
        <div class= "col-md-8">
          <h3> Project Details </h3>
          <ul class="list-unstyled project-details">
            <li> 
              <strong> Features: </strong> <%= raw project.tag_list.map { |t| t }.join(', ')%>
            </li>
            <% unless project.link == "" || nil %>
            <li> 

              <strong> Website Link </strong><%= project.link  %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
  

