<div id="modal1" class="portfolio-modal modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row first">
        <div class="col-lg-12">
          <h2 clas"page-header"> <%= @projects[2].title %> </h2>
          <p>  <%= @projects[2].content %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal2" class="portfolio-modal modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row first">
        <div class="col-lg-12">
          <h2> <%= @projects[3].title %> </h2>
          <p>  <%= @projects[3].content %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal3" class="portfolio-modal modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row first">
        <div class="col-lg-12">
          <h2> <%= @projects[4].title %> </h2>
          <p>  <%= @projects[4].content %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal4" class="portfolio-modal modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row first">
        <div class="col-lg-12">
          <h2> <%= @projects[3].title %> </h2>
          <p>  <%= @projects[3].content %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="modal5" class="portfolio-modal modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row first">
        <div class="col-lg-12">
          <h2> <%= @projects[4].title %> </h2>
          <p>  <%= @projects[4].content %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal6" class="portfolio-modal modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row first">
        <div class="col-lg-12">
          <h2> <%= @projects[5].title %> </h2>
          <p>  <%= @projects[5].content %></p>
        </div>
      </div>
    </div>
  </div>
</div>



