
  <div class = "container">       
    <div class= "row">
      <div class= "col-lg-12 text-center">
        <h2> Projects </h2>
        <h4 class= "text-light"> All but one is built with Ruby on Rails, PostgreSQL, and Bootstrap SASS on a DigitalOcean droplet </h4>
       
        <hr class= "primary mb">
        <% if current_user %>
          <%= link_to "add a new project", new_project_path, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div> 
    <div class= "row all_projects-row">
      <div class="col-md-12 projects">
        <% @projects.each_slice(2) do |projects| %> 
          <div class= "row project-row">

            <% projects.each do |project| %>
              <% cache project do %>
                <div class= "col-md-6 project_list" data-scrollreveal="enter top over 2s">

                  <div class= "project img-responsive center"> 
                    <%= link_to project.link, target: 'blank' do %> 
                      <div class= "screen carousel"> 
                        <div class= "item">
                          <%= image_tag project.image.url(:project) %> <br>
                        </div>
                        <div class= "carousel-caption text-center" id="tag-description">
              
                        </div>
                      </div>
                      <div class= "keyboard " %>
                          <%= image_tag "keyboard1.png" %>
                      </div>
                    <% end %>   
                  </div>
                  <div class = "text-center text-light ">
                    <%= project.title.humanize.gsub(/\b('?[a-z])/) { $1.capitalize } %><br>
                    
                    <% if current_user %>
                    <br>

                      <div>
                        <%= link_to "Edit", edit_project_path(project) %> 
                        <%= link_to "Delete", project, method: :delete, data: {confirm: "Are You Sure?"} %>
                        
                      </div>
                   <% end %> 
                  </div> 
                </div>
              <% end %>
            <% end %> 

          </div>
        <% end %>
      </div>
    </div>
  </div>

