<section class="portfolio-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2> Projects </h2>
        <hr class="primary">    
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 portfolio-item">
        <a href="#modal1" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <h3>View Project </h3>
            </div>
          </div>
            <%= image_tag @projects[0].image.url(@projects[0]) %>
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#modal2" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <h3>View Project </h3>
            </div>
          </div>
            <%= image_tag @projects[1].image.url(@projects[1]) %>
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#modal3" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <h3>View Project </h3>
            </div>
          </div>
            <%= image_tag @projects[2].image.url(@projects[2]) %>
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#modal4" class="portfolio-link" data-toggle="modal">
          <div class="caption">

          </div>
            <%= image_tag @projects[3].image.url(@projects[3]) %>
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#modal5" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <h3>View Project </h3>
            </div>
          </div>
            <%= image_tag @projects[4].image.url(@projects[4]) %>
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#modal6" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <h3>View Project </h3>
            </div>
          </div>
            <%= image_tag @projects[5].image.url(@projects[5]) %>
        </a>
      </div>
    </div>
</section> 
<%= render "modals" %> 

