
<section id= "about">
	<%= render "welcome/about" %>
</section>
<%= render "welcome/banner_haathi" %> 

<section id= "projects">
	<%= render "welcome/projects" %>
</section>

<%= render "welcome/closing" %> 

<section id= "contact">
	<%= render "welcome/contact" %> 
</section>





