
  <%= form_for(Contact.new ) do |f| %>            
 <div class="form-group col-xs-12">
   
    <%= f.text_field :name, autofocus: true, required: true, class: "form-control", placeholder: "Name" %>
  </div>
  <div class="form-group col-xs-12">
    
    <%= f.email_field :email, autofocus: true, required:true, class: "form-control", placeholder: "Email Address"  %>
  </div>
  <div class="form-group col-xs-12">
    <%= f.text_area :message, autofocus: true, rows:5, required:true,  class: "form-control", placeholder: "Message" %>
  </div>
 <div class="btn-group" id= "succes">
      <%= f.submit "Send Message", class: "btn btn-primary" %>
  </div>
<% end %>
