<%= form_for @project, html: { multipart: true } do |f| %>
  <% if @project.errors.any? %>
    <div id = "error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved</h2>
      </ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        </div>
      <% end %>
  <% end %>
  <div class="form-group">
    <%= f.hidden_field :user_id %>
  </div>
  <div class="form-group">
    <%= f.text_field :title, autofocus: true, class: "form-control", placeholder: "title" %>
  </div>
  <div class="form-group">
    <%= f.text_field :link, autofocus: true, class: "form-control", placeholder: "link" %>
  </div>
  <div class="form-group">
    <%= f.text_field :site_name, autofocus: true, class: "form-control", placeholder: "site_name" %>
  </div>
  <div class="form-group">
    <%= f.label "features of this app"%><br />
    <%= f.text_area :content, autofocus: true, class: "form-control", wrap: "hard", placeholder:  "Tell us about the idea... \n example.. Grow some herbs and cook Italian meals... \n example .. Build a website", :text_area_html => {:maxlength => 260, :size => 300}  %>
    <%= f.label :tag_list, "Tags (separated by commas)" %><br>
    <%= f.text_field :tag_list, autofocus: true, class: "form-control", placeholder: "sample tags, map, search, calendar, payment functions" %>
  </div>
  
  <div class="form-group">
    <footnote>Upload your Banner Image - 1980 x 1320px</footnote>
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
    <%= f.hidden_field :image_cache %>
  </div>
  
  <div class="btn-group">
    <%= f.submit "Save project", class: "btn btn-primary" %>
  </div>
<% end %>