<div id="modal1" class="portfolio-modal modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row first">
        <div class="col-lg-12">
          <h2 class= "page-header"> <%= @projects[0].title %> </h2>
          <h4> TEST </h4>
           <%= image_tag("benedicto-de-jesus-118405.jpg")%> 
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div id="project-details-carousel" class="owl-carousel owl-theme">
            <div class="item">
              <%= image_tag("benedicto-de-jesus-118405.jpg")%> 
            </div>
            <div class="item">
              <%= image_tag("dawid-zawila-221021.jpg")%> 
            </div>
            <div class="item">
              <%= image_tag("joe-mania-116449.jpg")%> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

