<% provide(:title, "Project" ) %>
<div class= "container text-left" id="new_showcase">
  <div class= "row">
    <div class= "col-md-8 col-offset-2">
      <div class= "panel panel-default">
        <div class= "panel-heading">
          <h1> <%= @project.title %></h1>
        </div>
        <div class= "panel-body">
         <p><%= image_tag @project.image_url %> </p>
         <p><%= @project.content %></p>
         <% if current_user %>
          <%= render "project_infos/form" %> 
         <% end %> 
        </div>
        <%= render "project_infos/index" %>
        <div class = "panel-footer">
          <% if current_user %> 
            <%= link_to 'Edit', edit_project_path(@project) %> | 
            <%= link_to 'Delete', @project, method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>  
        </div>
      </div>
    </div>
  </div>
</div>