<%= form_for @showcase, html: { multipart: true } do |f| %>
  <% if @showcase.errors.any? %>
    <div id = "error_explanation">
      <h2><%= pluralize(@showcase.errors.count, "error") %> prohibited this showcase from being saved</h2>
      </ul>
      <% @showcase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        </div>
      <% end %>
  <% end %>
  <div class="form-group">
    <%= f.hidden_field :user_id %>
  </div>
  <div class="form-group">
    <%= f.text_field :title, autofocus: true, class: "form-control", placeholder: "title" %>
  </div>

  <div class="form-group">
    <%= f.text_field :credit, autofocus: true, class: "form-control", placeholder: "image credit" %>
  </div>

  <div class="form-group">
    <%= f.text_field :heading, autofocus: true, class: "form-control", placeholder: "heading" %>
  </div>

  <div class="form-group">
    <%= f.text_field :sub_heading, autofocus: true, class: "form-control", placeholder: "subheading" %>
  </div>

  <div class="form-group">
    <%= f.text_field :reference_info, autofocus: true, class: "form-control", placeholder: "reference_info" %>
  </div>
  <div class="form-group">
    <%= f.text_area :content, autofocus: true, class: "form-control", placeholder: "content" %>
  </div>
  
  <div class="form-group">
    <footnote>Upload your Banner Image - 1980 x 1320px</footnote>
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
    <%= f.hidden_field :image_cache %>
  </div>
  
  <div class="btn-group">
    <%= f.submit "Save showcase", class: "btn btn-primary" %>
  </div>
<% end %>

