<% provide(:title,<%= @showcase.title %> ) %>
<div class= "container text-left" id="new_showcase">
  <div class= "row">
    <div class= "col-md-8 col-offset-2">
      <div class= "panel panel-default">
        <div class= "panel-heading">
          <h1> <%= @showcase.title %></h1>
        </div>
        <div class= "panel-body">
         <p><%= image_tag @showcase.image_url(:large) %> </p>
         <p><%= @showcase.picture_credit %>
        </div>
        <div class = "panel-footer">
          <%= link_to 'Edit', edit_showcase_path(@showcase) %> | 
          <%= link_to 'Delete', @showcase, method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    </div>
  </div>
</div>