<footer class="footer">
  <div class="lower">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
         <span class="small">Copyright &copy; <span id="year"><%= Date.today.year %></span> - Haathi Consulting Inc. All Rights Reserved.</span>

        </div>
        
        <div class="col-md-3">
          <span class= "footer-link">
             <%= link_to 'https://github.com/TazzyG/tazzyg.github.io/blob/master/index.md', target: "_blank" do %>
             <i class = "fa fa-github fa-2x" %> </i> 
             <% end %>
          </span>
          <span class= "footer-link">
             <%= link_to 'https://www.linkedin.com/in/laurie-gloge-51193b3/', target: "_blank" do %>
             <i class = "fa fa-linkedin fa-2x" %> </i> 
             <% end %>
          </span>
          <span class= "footer-link">
             <%= link_to 'https://twitter.com/laurie_gloge', target: "_blank" do %>
             <i class = "fa fa-twitter fa-2x" %> </i> 
             <% end %>
          </span>
          


            
              
        </div>
        <div class="col-md-3 text-center">

        	<%= link_to new_contact_path do %> 
           
            <%= image_tag "haathi_log.png", class: "footer-image", alt: "creative calgary" %>
          <% end %>   
          
            
        </div>
      </div>
    </div>
  </div>
 
</footer>