<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <meta charset="utf-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Built with Ruby on Rails">
  <meta name="author" content="laurie gloge" >
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Rancho" rel="stylesheet">
  <meta name="turbolinks-root" content="/app">
  <%= favicon_link_tag 'favicon.ico', rel: 'shortcut icon'  %>
</head>


  
  
  
  
