<!DOCTYPE html>
<html lang="en">
 <%= render 'layouts/head'%>
  <body id="page-top" data-target=".navbar-fixed-top", class= "intro-img fill text-light intro-dark-bg image_in_background" >
    <div id="wrapper">
      <%= render 'layouts/nav' %>
      <header></header>
      <section>
        <%= render 'layouts/flash_messages'%>
        <%= yield %>      
      </section>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>